@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.justify-content-between .lfet-part a{
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
body{
	scroll-behavior: smooth;
	background-color: beige;
}

@media only screen and (max-width: 600px) {
	.flex-direction-column{
		flex-direction: column;
	}

  }
.about{
	position: relative;
}
.about::after{
	position: absolute;
	content: '';
	width: 50px;
	height: 1px;
	left: 46%;
	transform: translate(50%,50%);
	margin-top: 50px;
	background-color: blue;
}
.header_bg{
	background-image: url("../Img/header_bg.png");
	background-position: center;
	background-repeat: no-repeat;
	min-height: 426px;
	padding: 40px;
}
.header_bg h1{
	color: #fff;
	font-family: 'Lobster', cursive;
}
.header_bg h2{
	color: #fff;
	font-family: 'Lobster', cursive;
}
.header_bg h6{
	letter-spacing: 9px;
	color: #fff;
}
.header_bg .btn a{
	text-decoration: none;
	color: #fff;
}
.header_bg_2 .btn a{
	text-decoration: none;
	color: #fff;
}
.header_bg_2{
	background-image: url("../Img/header_bg_2.png");
	background-position: center;
	background-repeat: no-repeat;
	min-height: 426px;
	padding: 40px;
}
.header_bg_2 h1{
	color: #fff;
	font-family: 'Lobster', cursive;
	
	
}
.header_bg_2 h2{
	color: #fff;
	font-family: 'Lobster', cursive;
}
.success-Button{
	background-color: #CCB20D;
	
}

/* The animation code */
@keyframes text-animation {
	0%   {color: #CCB20D;left:-1119px; right:0px;}
	25%  {color:yellow; left:0px; right:0px;}
	50%  {color:blue; left:0px; top:0px;}
	75%  {color:green; left:0px; top:0px;}
	100% {color:rgb(253, 251, 251); left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */
  .animation {
	position: relative;
	color: #CCB20D;
	animation-name: text-animation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-timing-function: ease-out;
  }

 .col-md-3 #card-body:hover{
	  background-color: #CCB20D;
	  transition: 0.5s;
  }
 .container .row .col-xl-6 .my-project{
	  background-image: url('../Img/header_bg_2.jpg');
	  height: 300px;
	  
  }

  .right-container{
	  padding: 30px 10px;
	  
  }
.shadow-card{
	box-shadow: 0 2px 25px -13px rgb(0 0 0 / 26%);
}

.year-stablish{
	background-color: #cdb30c;
	padding: 15px;
    width: 300px;
    margin-top: 40px;
}
.experience {
    /* transform: translate(34%,86%); */
}
.experience:hover{
	background-color:rgba(32, 177, 2, 0.8);
	transition: .5s;
	cursor: pointer;
	transform: translate(40%,58%);
}
.experience .icon{
	justify-content: center;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	margin: 20px 20px;
	position: relative;
	background-color: darkred;
	font-size: 20px;
	color: cornsilk;
}
.experience .icon i{
	position: absolute;	
	padding: 13px;
}

.my-project{
	position: relative;
}
.experience{
	position: absolute;
	box-shadow: 0 2px 25px -13px rgb(0 0 0 / 26%);
	transform: translate(34%,58%);
}
.pracing-table-wrap{
	
}
.price-item-tag {
	padding: 5px 10px;
	background-image: linear-gradient(90deg,#b1855f,#cba26a);
	color: white;
	font-weight: 700;
}
.pracing-table-wrap{
	transition: .5s;
	transform: scale(0.9);
	display: block;
	cursor: pointer;
}
.pracing-table-wrap:hover {
    transform: scale(1);
    display: block;
    transform: rotate(720deg);
    transition: .3s;
    cursor: pointer;
}
