@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.justify-content-between .lfet-part a{
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
body{
	scroll-behavior: smooth;
	background-color: beige;
}

@media only screen and (max-width: 600px) {
	.flex-direction-column{
		flex-direction: column;
	}

  }
.about{
	position: relative;
}
.about::after{
	position: absolute;
	content: '';
	width: 50px;
	height: 1px;
	left: 46%;
	transform: translate(50%,50%);
	margin-top: 50px;
	background-color: blue;
}
.header_bg{
	background-image: url("../Img/header_bg.png");
	background-position: center;
	background-repeat: no-repeat;
	min-height: 426px;
	padding: 40px;
}
.header_bg h1{
	color: #fff;
	font-family: 'Lobster', cursive;
}
.header_bg h2{
	color: #fff;
	font-family: 'Lobster', cursive;
}
.header_bg h6{
	letter-spacing: 9px;
	color: #fff;
}
.header_bg .btn a{
	text-decoration: none;
	color: #fff;
}
.header_bg_2 .btn a{
	text-decoration: none;
	color: #fff;
}
.header_bg_2{
	background-image: url("../Img/header_bg_2.png");
	background-position: center;
	background-repeat: no-repeat;
	min-height: 426px;
	padding: 40px;
}
.header_bg_2 h1{
	color: #fff;
	font-family: 'Lobster', cursive;
	
	
}
.header_bg_2 h2{
	color: #fff;
	font-family: 'Lobster', cursive;
}
.success-Button{
	background-color: #CCB20D;
	
}

/* The animation code */
@keyframes text-animation {
	0%   {color: #CCB20D;left:-1119px; right:0px;}
	25%  {color:yellow; left:0px; right:0px;}
	50%  {color:blue; left:0px; top:0px;}
	75%  {color:green; left:0px; top:0px;}
	100% {color:rgb(253, 251, 251); left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */
  .animation {
	position: relative;
	color: #CCB20D;
	animation-name: text-animation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-timing-function: ease-out;
  }

 .col-md-3 #card-body:hover{
	  background-color: #CCB20D;
	  transition: 0.5s;
  }
 .container .row .col-xl-6 .my-project{
	  background-image: url('../Img/header_bg_2.jpg');
	  height: 300px;
	  
  }

  .right-container{
	  padding: 30px 10px;
	  
  }
.shadow-card{
	box-shadow: 0 2px 25px -13px rgb(0 0 0 / 26%);
}

.year-stablish{
	background-color: #cdb30c;
	padding: 15px;
    width: 300px;
    margin-top: 40px;
}
.experience {
    /* transform: translate(34%,86%); */
}
.experience:hover{
	background-color:rgba(32, 177, 2, 0.8);
	transition: .5s;
	cursor: pointer;
	transform: translate(40%,58%);
}
.experience .icon{
	justify-content: center;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	margin: 20px 20px;
	position: relative;
	background-color: darkred;
	font-size: 20px;
	color: cornsilk;
}
.experience .icon i{
	position: absolute;	
	padding: 13px;
}

.my-project{
	position: relative;
}
.experience{
	position: absolute;
	box-shadow: 0 2px 25px -13px rgb(0 0 0 / 26%);
	transform: translate(34%,58%);
}
.pracing-table-wrap{
	
}
.price-item-tag {
	padding: 5px 10px;
	background-image: linear-gradient(90deg,#b1855f,#cba26a);
	color: white;
	font-weight: 700;
}
.pracing-table-wrap{
	transition: .5s;
	transform: scale(0.9);
	display: block;
	cursor: pointer;
}

.pracing-table-wrap:hover {
    transform: scale(1);
    display: block;
    transform: rotate(720deg);
    transition: .3s;
    cursor: pointer;
}

.counter-wrap {
    display: flex;
    filter: blur(4);
    align-items: center;
    justify-content: center;
    height: 50vh;
    overflow: hidden;
    margin: 0;
    opacity: .8;
    background: #000000;
	background-attachment: fixed;
	
}
.counter-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 30px 50px;
	
}
.counter{
	font-size: 50px;
	margin-top: 10px;
}
.my-fa-user{
	font-size: 50px;
	color: rgb(13, 255, 45);
}
@media (max-width: 720px){
	.counter-wrap{
		flex-direction: row;
	}
	.my-fa-user{
		font-size: 25px;
	}
	.counter{
		font-size: 25px;
	}
}
.text-gold{
	color: rgb(13, 255, 45);
}
/* ===============FAQ=============== */

.heading {
  display: flex;
  background-color: #CDB30D;
  padding: 10px 40px;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 25px -13px rgb(0 0 0 / 26%);
  margin: 27px 0px;
  justify-content: space-between;
}
.problem-toggle{
  display: none;
}
.heading  i{
  font-size: 25px;
}
.management {
  display: flex;
  background-color: #CDB30D;
  padding: 10px 40px;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 25px -13px rgb(0 0 0 / 26%);
  justify-content: space-between;
}
.inverment{
  display: flex;
  background-color: #CDB30D;
  padding: 10px 40px;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 25px -13px rgb(0 0 0 / 26%);
  justify-content: space-between; 
  margin: 27px 0px;
}
.inverment i{
  font-size:25px ;
}
#inverment-toggle{
  display: none;
}

.management i{
  font-size: 25px;
}

#management-toggle{
  display: none;
}
.ask-qustion-right{
  margin: 10px 0px;
}
.faq{
  background-image: url('../Img/faq.jpg');
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
}
.faq-wap{
  margin: 0px 0 0 0;
}
.progress-container{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills{
  width: 100%;
  max-width: 600px;
}
.skill-name{
  font-size: 18px;
  font-weight:700;
  text-transform: uppercase;
  margin: 20px 0;
}
.skill-bar{
  height: 7px;
  background: #cacaca;
  border-radius: 8px;
}
.skill-per{
  height: 7px;
  background-color: #0fbcf9;
  border-radius: 8px;
  width: 0%;
  position: absolute;
  transition: 2s;
}
.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color:#fff;
  font-size: 12px;
  border-radius: 4px;
  top:-35px;
  right: 0;
  transform: translateX(50%);
}
.skill-per::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  border-radius: 2px;
  transform: translateX(50%) rotate(45deg);
}
/* ==========Portfoio============= */

.portfolio-wrap{
    max-width: 900px;
    float: none;
    margin: auto;
    font-family: Lato;

  }
  #portfolio {
  
      margin: 1rem 0;
      -webkit-column-count: 3; 
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 1rem;
      -moz-column-gap: 1rem;
      column-gap: 1rem;
      -webkit-column-width: 33.33333333333333%;
      -moz-column-width: 33.33333333333333%;
      column-width: 33.33333333333333%;
  }
  .tile { 
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 350ms ease;
      transition: all 350ms ease;
  }
  
  .scale-anm {
    transform: scale(1);
  }
  
/*   
  p{ 
    padding:10px; 
    border-bottom: 1px #ccc dotted; 
    text-decoration: none; 
    font-family: lato; 
    text-transform:uppercase; 
    font-size: 12px; 
    color: #333; 
    display:block; 
    float:left;
  }
  
  p:hover { 
    cursor:pointer; 
    background: #333; 
    color:#eee; } */
  
  .tile img {
      max-width: 100%;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
  }
  
  .my-btn {
      
      font-size: 1rem;
      font-weight: normal;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      line-height: normal;
      padding: .5rem 1rem;
      margin: 0;
      height: auto;
      border: 1px solid #ccc;
      vertical-align: middle;
      -webkit-appearance: none;
      color: #555;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 3px;
  }
  
  .my-btn:hover {
    text-decoration: none;
    background: rgb(236, 76, 76);
    color: #fff;
  }  
  ::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  .active-portfolio{
    background: rgb(236, 76, 76);
    color: #fff;
    border: none
  }
  .tcenter, .toolbar{
    text-align: center;
  }
  
  .top{
    margin-bottom: 50px;
  }
/* =================blog============== */
.blog{
  width: 300px;
}
.blog-img img{
  width: 300px;
  position: relative;
}
.blog-post .img-date {
  position: absolute;
  bottom: 45px;
  width: 300px;
  text-align: center;
  padding: 10px 2px;
  margin-bottom: 111px;
  box-shadow: 0 2px 25px -13px rgb(0 0 0 / 26%);
  transition: .4s;
  border-radius: 5px;
  background-color: #fff;
}

.blog-post .img-date span{
  color: #590ebb;
  font-size: 10px;
  font-weight: bold;
}
.blog .img-date:hover{
  background-color: #CDB30D;
  cursor: pointer;
  border-radius: 5px;
}

.blog h6{
  transition: .5s;
  margin: 15px 0;

}
.blog h6:hover{
  color:  #CDB30D;
  cursor: pointer;
}
.blog-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-wrap .blog{
  margin: 10px;
}



